.btn{
    padding: 10px 45px;
    font-family: $roboto;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
}
.btn-outlined{
    border: 2px solid $white;
    color: $white;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
    transition: $t-time;
    &:hover{
        background: $white;
        color: $dark;
    }

}

.btn-regular{
    background: #4DC6E4;
    color: $white;
}

.btn-square{
    background: $green;
    color: $white;
    padding: 20px 35px;
    font-size: 50px;
    font-weight: $fw-500;
    text-align: center;
    text-decoration: none;
}