$rubik: 'Rubik', sans-serif;
$roboto: 'Roboto', sans-serif;
$fw-500: 500;
$fw-400: 400;

$dark: #212121;
$white: #fff;

$green: #A6CC45;
$green-lighter: lighten($green,10%); 

$navy: #466D8A;

$t-time: .5s;